$nt-strong-turquoise: #20b2aa;
$nt-turquoise: #4dc1bb;
$nt-light-turquoise: #a4dfdd;
$nt-lighter-turquoise: #daf1f1;

$nt-dark-green: #092e2d;
$nt-green: #0e4946;

$nt-grey: #c9c9c9;
$nt-light-grey: #ededed;
$nt-dirty-white: #f6f6f6;
$nt-charcoal: #28282e;