@import "../core/shared/styles/variables";

app-login {
  max-width: 80vw;
  width: inherit;
  margin: 50px auto;

  mat-card {
    form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      mat-form-field {
        margin: 10px auto;
        max-width: 50%;
      }
      button {
        margin-top: 20px;
        max-width: 30%;
        align-self: center;
      }
    }
  }

  .login-btn {
    margin-bottom: 10px;
    &:hover {
      background: $nt-dirty-white;
      color: $nt-turquoise;
    }
  
    .mat-mdc-button-touch-target {
      background: $nt-dirty-white;
    }
  }


}
