<!-- <div> -->
  <mat-card>
    <form [formGroup]="loginForm" autocomplete="off">
      <mat-form-field>
          <mat-label>{{ 'login.username' | translate }}</mat-label>
          <input type="text" formControlName="username" matInput autofocus required (keydown.enter)="onEnter($event)">
          <mat-error *ngIf="loginForm.get('username')?.hasError('required')">{{ 'login.usernameRequired' | translate }}
          </mat-error>
      </mat-form-field>
      <mat-form-field>
          <mat-label>{{ 'login.password' | translate }}</mat-label>
          <input type="password" formControlName="password" matInput autofocus required (keydown.enter)="onEnter($event)">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">{{ 'login.passwordRequired' | translate }}
          </mat-error>
      </mat-form-field>
      <button class="login-btn" mat-button (click)="loginUser()">{{ 'login.button' | translate }}</button> 
    </form>
  </mat-card>
<!-- </div> -->